In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import re

/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
data = pd.read_csv('goodreads_list_props.csv',encoding = "ISO-8859-1")

In [3]:
result = data.dtypes
print(result)
print(len(data.index))

book_name       object
author          object
rating         float64
description     object
no_of_pages    float64
genre           object
dtype: object
47610

In [4]:
data_no_tag=[]
data_values= data['description'].values
print(data_values[7])
print(type(data_values[8]))

Don Quixote has become so entranced by reading chivalric romances, that he determines to become a knight-errant himself. In the company of his faithful squire, Sancho Panza, his exploits blossom in all sorts of wonderful ways. While Quixote's fancy often leads him astray â he tilts at windmills, imagining them to be giants â Sancho acquires cunning and a certain sagacity. Sane madman and wise fool, they roam the world together, and together they have haunted readers' imaginations for nearly four hundred years.<br/><br/>With its experimental form and literary playfulness, <i>Don Quixote</i> generally has been recognized as the first modern novel. The book has had enormous influence on a host of writers, from Fielding and Sterne to Flaubert, Dickens, Melville, and Faulkner, who reread it once a year, "just as some people read the Bible."
<class 'str'>

In [5]:
import re
data_no_tag=[]
for i in data_values:
    x = re.sub("<[^<]+?>"," ", str(i))
    data_no_tag.append(x)

for i in range(0,47610):
    data['description'][i] = data_no_tag[i]

/Users/parthtank/anaconda3/envs/face/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
data.head()

,book_name,author,rating,description,no_of_pages,genre
0,The Kite Runner,Khaled Hosseini,4.25,"âIt may be unfair, but what happens in a f...",391.0,Fiction
1,The Old Man and the Sea,Ernest Hemingway,3.72,It is the story of an old Cuban fisherman and ...,132.0,Classics
2,The Great Gatsby,F. Scott Fitzgerald,3.88,"THE GREAT GATSBY , F. Scott Fitzgeraldâs th...",180.0,Classics
3,City of Bones,Cassandra Clare,4.12,When fifteen-year-old Clary Fray heads out to ...,485.0,Young Adult
4,The Pillars of the Earth,Ken Follett,4.29,For the Movie tie-in edition with the same AS...,973.0,Historical Fiction

In [10]:
data = data.dropna(axis=0, how='any').reset_index(drop=True)

In [11]:
data

,book_name,author,rating,description,no_of_pages,genre
0,The Kite Runner,Khaled Hosseini,4.25,"âIt may be unfair, but what happens in a f...",391.0,Fiction
1,The Old Man and the Sea,Ernest Hemingway,3.72,It is the story of an old Cuban fisherman and ...,132.0,Classics
2,The Great Gatsby,F. Scott Fitzgerald,3.88,"THE GREAT GATSBY , F. Scott Fitzgeraldâs th...",180.0,Classics
3,City of Bones,Cassandra Clare,4.12,When fifteen-year-old Clary Fray heads out to ...,485.0,Young Adult
4,The Pillars of the Earth,Ken Follett,4.29,For the Movie tie-in edition with the same AS...,973.0,Historical Fiction
...,...,...,...,...,...,...
42266,The Sober Truth: Debunking the Bad Science Beh...,Lance Dodes,3.87,"An exposÃ© of Alcoholics Anonymous, 12-step p...",192.0,Nonfiction
42267,Shadow Games,Glen Cook,4.08,After the devastating battle at the Tower of ...,311.0,Fantasy
42268,Livro,JosÃ© LuÃ­s Peixoto,3.92,Este livro elege como cenÃ¡rio a extraordinÃ¡r...,264.0,European Literature
42269,"Mother, Mother",Koren Zailckas,3.68,Josephine Hurst has her family under control. ...,366.0,Fiction
42270,Quiet Dell,Jayne Anne Phillips,3.27,From one of Americaâs most accomplished and ...,464.0,Historical Fiction

In [17]:
books = pd.DataFrame(data['description'])
genres = pd.DataFrame(data['genre'])

In [18]:

print (type(books))
print (type(genres))
print (books.shape)
print (genres.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
(42271, 1)
(42271, 1)

In [19]:
from collections import Counter

total_counts = Counter()
for i in range(len(books)):
    for word in books.values[i][0].split(" "):
        total_counts[word] += 1

print("Total words in data set: ", len(total_counts))

Total words in data set:  470838

In [20]:

vocab = sorted(total_counts, key=total_counts.get, reverse=True)[:20000]
print(vocab[:60])

['the', '', 'and', 'of', 'a', 'to', 'in', 'is', 'her', 'that', 'his', 'with', 'for', 'as', 'she', 'The', 'on', 'he', 'has', 'an', 'from', 'by', 'it', 'was', 'who', 'this', 'are', 'their', 'be', 'I', 'one', 'at', 'But', 'but', 'will', 'have', 'de', 'they', 'into', 'all', 'when', 'not', '.', 'about', 'life', 'can', 'you', 'In', 'A', 'only', 'new', 'more', 'book', '-', 'most', 'out', 'or', 'what', 'him', 'been']

In [21]:
print(vocab[-1], ': ', total_counts[vocab[-1]])

Madison, :  21

In [22]:
vocab_size = len(vocab)
word2idx = {}
#print vocab_size
for i, word in enumerate(vocab):
    word2idx[word] = i

In [23]:
def text_to_vector(text):
    word_vector = np.zeros(vocab_size)
    for word in text.split(" "):
        if word2idx.get(word) is None:
            continue
        else:
            word_vector[word2idx.get(word)] += 1
    return np.array(word_vector)

In [24]:
text_to_vector("I am of a Legend")[:10]

array([0., 0., 0., 1., 1., 0., 0., 0., 0., 0.])

In [25]:

word_vectors = np.zeros((len(books), len(vocab)), dtype=np.int_)
for ii, (_, text) in enumerate(books.iterrows()):
    word_vectors[ii] = text_to_vector(text[0])

In [26]:
word_vectors.shape

(42271, 20000)

In [27]:
books.describe()

       description
count        42271
unique       41632
top            nan
freq            14

In [29]:
genres.describe()

          genre
count     42271
unique      162
top     Fantasy
freq       6241

In [30]:
type(genres)
len(genres)
genres

                     genre
0                  Fiction
1                 Classics
2                 Classics
3              Young Adult
4       Historical Fiction
...                    ...
42266           Nonfiction
42267              Fantasy
42268  European Literature
42269              Fiction
42270   Historical Fiction

[42271 rows x 1 columns]

In [32]:
## Counting how many times a word appears in the dataset
from collections import Counter

total_counts_genre = Counter()
for i in range(len(genres)):
    for word in genres.values[i][0].split(" "):
        total_counts_genre[word] += 1

print("Total words in data set: ", len(total_counts_genre))

Total words in data set:  169

In [33]:
vocab_genre = sorted(total_counts_genre, key=total_counts_genre.get, reverse=True)

## Removimg '&' as first element
vocab_genre = vocab_genre[1:]
print (vocab_genre)

['Fantasy', 'Adult', 'Romance', 'Young', 'Nonfiction', 'Historical', 'Science', 'Mystery', 'Art', 'Classics', 'Sequential', 'Childrens', 'Horror', 'History', 'Poetry', 'Christian', 'Literature', 'Paranormal', 'Cultural', 'Religion', 'Thriller', 'Philosophy', 'Biography', 'New', 'Stories', 'Short', 'Novels', 'European', 'Womens', 'Humor', 'and', 'Plays', 'Sports', 'Autobiography', 'Media', 'Tie', 'In', 'Psychology', 'Erotica', 'Spirituality', 'Animals', 'Self', 'Help', 'Asian', 'Games', 'Business', 'Realistic', 'Politics', 'Dark', 'Travel', 'Contemporary', 'Glbt', 'Music', 'Adventure', 'Economics', 'War', 'Food', 'Drink', 'Crime', 'Holiday', 'Western', 'Language', 'Amish', 'Feminism', 'Parenting', 'Health', 'Audiobook', 'Education', 'Shapeshifters', 'Reference', 'Culture', 'Urban', 'Writing', 'Sociology', 'Academic', 'World', 'II', 'Drama', 'Suspense', 'Christianity', 'Mermaids', 'Computer', 'Anthropology', 'Lds', 'Leadership', 'Dungeons', 'Dragons', 'Anthologies', 'Roman', 'Occult', 'Inspirational', 'Marriage', 'Esoterica', 'Spy', 'Military', 'Environment', 'Design', 'Gothic', 'Apocalyptic', 'Fan', 'American', 'Love', 'Relationships', 'Law', 'Comics', 'Family', 'Category', 'Architecture', 'Mental', 'Gardening', 'Medical', 'Management', 'Alcohol', 'Humanities', 'Magical', 'Realism', 'Polyamory', 'Folklore', 'Social', 'Sexuality', 'Biology', 'Criticism', 'Book', 'Club', 'True', 'Story', 'Literary', 'Fairies', 'Tragedy', 'York', 'Witchcraft', 'Action', 'North', 'Hi...', 'Nurses', 'Manga', 'Dc', 'Diary', 'Space', 'Superheroes', 'Modern', 'Nature', 'Soccer', 'Heroic', 'Inspired', 'Crafts', 'Pop', 'Buddhism', 'Football', 'Of', 'Warcraft', 'Disability', 'Teaching', 'School', 'Menage', 'Emergency', 'Services', 'Gamebooks', 'Mythology', 'Fairy', 'Tales', 'Retellings', 'Issues', 'How', 'To', 'Race', 'Textbooks', 'Surreal']

In [34]:
print(vocab_genre[-1], ': ', total_counts_genre[vocab_genre[-1]])

Surreal :  1

In [35]:
vocab_size_genre = len(vocab_genre)
word2idx_genre = {}
#print vocab_size
for i, word in enumerate(vocab_genre):
    word2idx_genre[word] = i

In [36]:
def text_to_vector_genre(text):
    word_vector_genre = np.zeros(vocab_size_genre)
    for word in text.split(" "):
        if word2idx_genre.get(word) is None:
            continue
        else:
            word_vector_genre[word2idx_genre.get(word)] += 1
    return np.array(word_vector_genre)

In [38]:
word_vectors_genre = np.zeros((len(genres), len(vocab_genre)), dtype=np.int_)
for ii, (_, text) in enumerate(genres.iterrows()):
    word_vectors_genre[ii] = text_to_vector_genre(text[0])

In [39]:
word_vectors_genre.shape
word_vectors_genre[1]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [42]:
print (word_vectors.shape)
word_vectors_genre[1]
list(word2idx_genre)
# len(word2idx_genre)

(42271, 20000)

['Fantasy',
 'Adult',
 'Romance',
 'Young',
 'Nonfiction',
 'Historical',
 'Science',
 'Mystery',
 'Art',
 'Classics',
 'Sequential',
 'Childrens',
 'Horror',
 'History',
 'Poetry',
 'Christian',
 'Literature',
 'Paranormal',
 'Cultural',
 'Religion',
 'Thriller',
 'Philosophy',
 'Biography',
 'New',
 'Stories',
 'Short',
 'Novels',
 'European',
 'Womens',
 'Humor',
 'and',
 'Plays',
 'Sports',
 'Autobiography',
 'Media',
 'Tie',
 'In',
 'Psychology',
 'Erotica',
 'Spirituality',
 'Animals',
 'Self',
 'Help',
 'Asian',
 'Games',
 'Business',
 'Realistic',
 'Politics',
 'Dark',
 'Travel',
 'Contemporary',
 'Glbt',
 'Music',
 'Adventure',
 'Economics',
 'War',
 'Food',
 'Drink',
 'Crime',
 'Holiday',
 'Western',
 'Language',
 'Amish',
 'Feminism',
 'Parenting',
 'Health',
 'Audiobook',
 'Education',
 'Shapeshifters',
 'Reference',
 'Culture',
 'Urban',
 'Writing',
 'Sociology',
 'Academic',
 'World',
 'II',
 'Drama',
 'Suspense',
 'Christianity',
 'Mermaids',
 'Computer',
 'Anthropology',
 'Lds',
 'Leadership',
 'Dungeons',
 'Dragons',
 'Anthologies',
 'Roman',
 'Occult',
 'Inspirational',
 'Marriage',
 'Esoterica',
 'Spy',
 'Military',
 'Environment',
 'Design',
 'Gothic',
 'Apocalyptic',
 'Fan',
 'American',
 'Love',
 'Relationships',
 'Law',
 'Comics',
 'Family',
 'Category',
 'Architecture',
 'Mental',
 'Gardening',
 'Medical',
 'Management',
 'Alcohol',
 'Humanities',
 'Magical',
 'Realism',
 'Polyamory',
 'Folklore',
 'Social',
 'Sexuality',
 'Biology',
 'Criticism',
 'Book',
 'Club',
 'True',
 'Story',
 'Literary',
 'Fairies',
 'Tragedy',
 'York',
 'Witchcraft',
 'Action',
 'North',
 'Hi...',
 'Nurses',
 'Manga',
 'Dc',
 'Diary',
 'Space',
 'Superheroes',
 'Modern',
 'Nature',
 'Soccer',
 'Heroic',
 'Inspired',
 'Crafts',
 'Pop',
 'Buddhism',
 'Football',
 'Of',
 'Warcraft',
 'Disability',
 'Teaching',
 'School',
 'Menage',
 'Emergency',
 'Services',
 'Gamebooks',
 'Mythology',
 'Fairy',
 'Tales',
 'Retellings',
 'Issues',
 'How',
 'To',
 'Race',
 'Textbooks',
 'Surreal']

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(word_vectors, word_vectors_genre, test_size=0.25, random_state=42)

In [44]:

print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(31703, 20000)
(31703, 168)
(10568, 20000)
(10568, 168)

In [45]:
def build_model():
    tf.reset_default_graph()
    
    # Input
    net = tflearn.input_data([None, 20000])
    
    #Hidden
    net = tflearn.fully_connected(net, 128, activation='ReLU')
    net = tflearn.fully_connected(net, 128, activation='ReLU')
    net = tflearn.fully_connected(net, 128, activation='ReLU')
    net = tflearn.fully_connected(net, 256, activation='ReLU')

    ## Dropout
    net = tflearn.layers.core.dropout (net, 0.5, noise_shape=None, name='Dropout')

    #Output
    net = tflearn.fully_connected(net, 62, activation='softmax') 
    net = tflearn.regression(net, optimizer='adam', learning_rate=0.003, loss='categorical_crossentropy')
    
    
    model = tflearn.DNN(net)
    return model

In [46]:
model = build_model()

NameError: name 'tflearn' is not defined

In [47]:
import tensorflow as tf

In [1]:
import tflearn

ModuleNotFoundError: No module named 'tflearn'